<mat-toolbar class="toolbar" color="primary" fxLayout="column" fxLayoutAlign="start start">
  <span class="mat-title">Angular Material Theme Switcher</span>
  <span class="mat-body-2">@sheyxneo/angular-material-theme-switcher</span>
</mat-toolbar>

<nav class="mat-app-background" mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link.path" [active]="activeLink == link.path"
    [routerLink]="link.path">
    {{link.label}}
  </a>
</nav>

<router-outlet></router-outlet>

<mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="center start">
  <span class="mat-small">Copyright &copy; SheyXneo | All rights reserved</span>
</mat-toolbar>